In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Define column names based on the layout file
col_names = ['HHID', 'GTMETSTA', 'PULINENO', 'HRINTSTA', 'HUINTTYP', 'HRHTYPE', 'HTELAVL', 'HTELHHD', 'HTELINT', 'HRINTTYP', 'HUFAMINC', 'GESTFIPS', 'HRACE']

# Define the positions and lengths of each column
col_positions = [(1, 15), (18, 18), (16, 17), (29, 29), (32, 32), (40, 40), (38, 38), (39, 39), (41, 41), (67, 67), (186, 187), (472, 473), (478, 479)]

# Load the data as fixed-width format
data = pd.read_fwf('dec17pub.dat', colspecs=col_positions, names=col_names)

# Concatenate household identifier and line number
data['full_household_identifier'] = data['HHID'].astype(str) + data['PULINENO'].astype(str)

# Remove HHID and PULINENO columns
data = data.drop(['HHID', 'PULINENO'], axis=1)

# Convert GTMETSTA values to descriptive strings
data['GTMETSTA'] = data['GTMETSTA'].replace({1: 'Urban', 2: 'Rural'})

# Convert HRINTSTA values to descriptive strings
data['HRINTSTA'] = data['HRINTSTA'].replace({1: 'Eligible', 2: 'Ineligible', 3: 'Out of scope', 4: 'Refused', 5: 'No interview', 6: 'Completed'})

# Convert HUINTTYP values to descriptive strings
data['HUINTTYP'] = data['HUINTTYP'].replace({1: 'Urban', 2: 'Rural'})

# Convert HRHTYPE values to descriptive strings
data['HRHTYPE'] = data['HRHTYPE'].replace({1: 'Married couple household',
                                           2: 'Male householder, no wife present',
                                           3: 'Female householder, no husband present',
                                           4: 'Nonfamily household'})

# Convert HTELAVL values to descriptive strings
data['HTELAVL'] = data['HTELAVL'].replace({1: 'Yes', 2: 'No'})

# Convert HTELHHD values to descriptive strings
data['HTELHHD'] = data['HTELHHD'].replace({1: 'Yes', 2: 'No'})

# Convert HTELINT values to descriptive strings
data['HTELINT'] = data['HTELINT'].replace({1: 'Yes', 2: 'No'})

# Convert HRINTTYP values to descriptive strings
data['HRINTTYP'] = data['HRINTTYP'].replace({1: 'Personal visit', 2: 'Telephone interview'})

# Convert HUFAMINC values to descriptive strings
data['HUFAMINC'] = data['HUFAMINC'].replace({-1: 'N/A', 1: 'Less than $5,000', 2: '$5,000 to $7,499', 3: '$7,500 to $9,999', 4: '$10,000 to $12,499', 5: '$12,500 to $14,999', 6: '$15,000 to $19,999', 7: '$20,000 to $24,999', 8: '$25,000 to $29,999', 9: '$30,000 to $34,999',
                                             10: '$35,000 to $39,999', 11: '$40,000 to $49,999', 12: '$50,000 to $59,999', 13: '$60,000 to $74,999', 14: '$75,000 to $99,999', 15: '$100,000 and over'})

# Convert GESTFIPS values to two-letter state abbreviation
data['GESTFIPS'] = data['GESTFIPS'].replace({
    1: 'AL', 2: 'AK', 4: 'AZ', 5: 'AR', 6: 'CA', 8: 'CO', 9: 'CT', 10: 'DE', 11: 'DC', 12: 'FL', 13: 'GA', 15: 'HI', 16: 'ID', 17: 'IL', 18: 'IN', 19: 'IA', 20: 'KS',
    21: 'KY', 22: 'LA', 23: 'ME', 24: 'MD', 25: 'MA', 26: 'MI', 27: 'MN', 28: 'MS', 29: 'MO', 30: 'MT', 31: 'NE', 32: 'NV', 33: 'NH', 34: 'NJ', 35: 'NM', 36: 'NY',
    37: 'NC', 38: 'ND', 39: 'OH', 40: 'OK', 41: 'OR', 42: 'PA', 44: 'RI', 45: 'SC', 46: 'SD', 47: 'TN', 48: 'TX', 49: 'UT', 50: 'VT', 51: 'VA', 53: 'WA', 54: 'WV',
    55: 'WI', 56: 'WY'
})

# Convert HRACE values to descriptive strings
data['HRACE'] = data['HRACE'].replace({1: 'White alone',
                                       2: 'Black or African American alone',
                                       3: 'American Indian or Alaska Native alone',
                                       4: 'Asian alone',
                                       5: 'Native Hawaiian or Other Pacific Islander alone',
                                       6: 'Some other race alone',
                                       7: 'Two or more races'})

# Display the selected columns in the desired format
selected_cols = ['full_household_identifier', 'GTMETSTA', 'HRINTSTA', 'HUINTTYP', 'HRHTYPE', 'HTELAVL', 'HTELHHD', 'HTELINT', 'HRINTTYP', 'HUFAMINC', 'GESTFIPS', 'HRACE']
selected_data = data[selected_cols]

selected_data.columns = ['FULL_HOUSEHOLD_IDENTIFIER', 'TIME_OF_INTERVIEW', 'INTERVIEW_STATUS', 'UNIT_TYPE', 'HOUSING_TYPE', 'HAS_RESIDENTIAL_LINE_ELSEWHERE', 'HAS_HOUSEHOLD_LINE', 'ACCEPT_PHONE_INTERVIEW', 'INTERVIEW_TYPE', 'FAMILY_INCOME_RANGE', 'GEOGRAPHICAL_LOCATION', 'RACE']

print(selected_data.to_string(index=False)[:1000])

FULL_HOUSEHOLD_IDENTIFIER  TIME_OF_INTERVIEW  INTERVIEW_STATUS  UNIT_TYPE  HOUSING_TYPE  HAS_RESIDENTIAL_LINE_ELSEWHERE  HAS_HOUSEHOLD_LINE  ACCEPT_PHONE_INTERVIEW  INTERVIEW_TYPE FAMILY_INCOME_RANGE GEOGRAPHICAL_LOCATION                                            RACE
              47951107192                NaN               NaN        NaN           NaN                             NaN                 NaN                     NaN             NaN    Less than $5,000                    AL                                     White alone
              47951107192                NaN               NaN        NaN           NaN                             NaN                 NaN                     NaN             NaN    Less than $5,000                    AL                                     White alone
             716910049412                NaN               NaN        NaN           NaN                             NaN                 NaN                     NaN             NaN    Less th

In [5]:
selected_data.head()

,FULL_HOUSEHOLD_IDENTIFIER,TIME_OF_INTERVIEW,INTERVIEW_STATUS,UNIT_TYPE,HOUSING_TYPE,HAS_RESIDENTIAL_LINE_ELSEWHERE,HAS_HOUSEHOLD_LINE,ACCEPT_PHONE_INTERVIEW,INTERVIEW_TYPE,FAMILY_INCOME_RANGE,GEOGRAPHICAL_LOCATION,RACE
0,47951107192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Less than $5,000",AL,White alone
1,47951107192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Less than $5,000",AL,White alone
2,716910049412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Less than $5,000",CO,White alone
3,716910049412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Less than $5,000",AL,White alone
4,716910049412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Less than $5,000",AZ,White alone

In [6]:
selected_data.isnull().sum()

FULL_HOUSEHOLD_IDENTIFIER              0
TIME_OF_INTERVIEW                 146456
INTERVIEW_STATUS                  146456
UNIT_TYPE                         146456
HOUSING_TYPE                      146456
HAS_RESIDENTIAL_LINE_ELSEWHERE    146456
HAS_HOUSEHOLD_LINE                146456
ACCEPT_PHONE_INTERVIEW            146456
INTERVIEW_TYPE                    146456
FAMILY_INCOME_RANGE                    0
GEOGRAPHICAL_LOCATION                  0
RACE                                   0
dtype: int64

In [9]:
selected_data.shape

(146456, 12)